/*CSS*/
.fullnessImg {
  width: 40%;
  max-width: 200px; }

.treeListing {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; }

.treeListing p {
  margin-left: 20px; }

.fullnessImg {
  width: 40%;
  margin-left: 40px;
  max-width: 200px; }

.testblock {
  width: 200px;
  height: 200px;
  margin: 100px;
  background-color: red; }
